<div class="container">
  <h1>Variação do Ativo</h1>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Ativos</mat-label>
        <div class="input-search">
          <input
            type="text"
            placeholder="Selecione"
            aria-label="Ativos"
            matInput
            formControlName="stockControl"
            [matAutocomplete]="auto"
          />
          <span (click)="clearSearch()">
            <mat-icon color="primary">close</mat-icon>
          </span>
        </div>
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="onSubmit()"
        >
          <mat-option
            *ngFor="let option of stockGroupOptions$ | async"
            [value]="option.symbol"
          >
            {{ option.symbol }} - {{ option.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <button mat-fab color="primary" type="submit">
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <h2>{{ stockSelected }}</h2>
  <h3>
    Período: {{ periodDate.start | date : "dd/MM/yyyy" }} a
    {{ periodDate.end | date : "dd/MM/yyyy" }}
  </h3>
  <div class="table-container">
    <table mat-table [dataSource]="stock" class="mat-elevation-z8">
      <ng-container matColumnDef="numberDay">
        <th mat-header-cell *matHeaderCellDef>Dia</th>
        <td mat-cell *matCellDef="let item">
          {{ item.numberDay }}
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let item">
          {{ item.date | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let item">{{ item.value | currency }}</td>
      </ng-container>

      <ng-container matColumnDef="percentageChangePreviousDay">
        <th mat-header-cell *matHeaderCellDef>Variação em relação a D-1</th>
        <td mat-cell *matCellDef="let item">
          {{ item.percentageChangePreviousDay | percent : "1.2-2" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="percentageChangeFirstDay">
        <th mat-header-cell *matHeaderCellDef>
          Variação em relação a primeira data
        </th>
        <td mat-cell *matCellDef="let item">
          {{ item.percentageChangeFirstDay | percent : "1.2-2" }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div *ngIf="stock.length" class="chart">
    <app-chart-variance [data]="stock"></app-chart-variance>
  </div>

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <div class="alert warn" *ngIf="!stock.length && !loading">
    Não foi encontrado dados para o Ativo "{{ stockSelected }}"
  </div>
</div>
