/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  background-color: #F5F5F5;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  overflow-y: scroll;
  background: #ececec;
  box-shadow: inset 0 0 4px #707070;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167);
  border-radius: 10px;
  cursor: pointer;
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin: 1rem 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  &.warn {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
  }
}
